/* .App {
  text-align: center;
} */

a {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 4.5rem;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
  padding-top: 5px;
}

/* .App-header h1 {
  text-align: start;
  margin-left: 20px;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  width: 50%;
  margin: 0 auto;
}

.logo {
  width: 26px;
  height: 26px;
  margin-right: 5px;
}

.title {
  margin-left: 20px;
}

#sidebar {
  width: 256px;
  height: calc(100vh - 4.5rem);
  background: #282c34;
}

#main {
  width: calc(100vw - 256px);
  position: relative;
  padding-top: 4rem;
}

#top-banner {
  height: 4rem;
  background: #282c34;;
  position: absolute;
  top: 0px;
  right: 0px;
  width: calc(100vw - 256px);
}

#review-column {
  height: 200px;
}